/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
img {
    display: block;
}

img {
    width: 20px;
    height: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: row wrap;
}

button {
    background-color: white;
    border: none;
}

/* General */

body {
    --highlight-color: rgb(239, 108, 0);
    --background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.selected {
    background-color: var(--highlight-color);
}

/* Source: https://codepen.io/sosuke/pen/Pjoqqp */

.selected img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(17deg) brightness(110%) contrast(101%);
}

nav img,
.search-widgets img {
    filter: invert(47%) sepia(42%) saturate(3441%) hue-rotate(3deg) brightness(96%) contrast(103%);
}

.flex-justify {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.home-button:hover,
nav li:hover {
    opacity: 0.75;
}

/* Header */

header {
    padding: 12px 15px;
    border-bottom: 1px solid lightgray;
    justify-content: space-evenly;
    gap: 5px max(calc(100% - 194px - 248px), 25px);
}

.home-button {
    display: flex;
    align-items: center;
}

.home-button img {
    width: 50px;
    height: 50px;
}

.home-button span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: var(--highlight-color);
}

nav ul {
    gap: 10px;
}

nav button,
nav a {
    padding: 10px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
}

/* Main */

.search-row,
.building-gallery {
    margin: 15px 25px;
}

.search-row {
    gap: 12px 8px;
    justify-content: space-between;
}

@media all and (max-width: 633px) {
    .search-row {
        justify-content: space-evenly;
    }
}

.search-row img {
    position: absolute;
    left: 15px;
}

.search-row input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 15px;
}

.search-widgets {
    gap: 8px;
}

.search-widgets button,
.search-widgets input {
    width: 140px;
    height: 42px;
}

.search-widgets button {
    position: relative;
    border: 2px solid var(--highlight-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--highlight-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    position: relative;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    max-width: 50%;
}

@media all and (max-width: 900px) {
    .search-bar {
        order: 1;
        min-width: 100%;
    }
    .search-widgets {
        order: 2;
    }
}

.search-bar input {
    width: 100%;
    height: 42px;
    padding-left: 45px;
    font-size: 16px;
}

.search-bar input:hover {
    border-color: black;
}

.search-bar img {
    opacity: 0.5;
}
