/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    width: 20px;
    height: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

button {
    border: none;
}

/* General */

body {
    --highlight-color: rgb(239, 108, 0);
    --background-color: white;
    --text-color: black;

    background-color: var(--background-color);
	font-family: Arial, Helvetica, sans-serif;
}

.selected {
    background-color: var(--highlight-color);
}

input,
button {
    background-color: var(--background-color);
}

input,
img {
    color: var(--text-color);
}

/* Source: https://codepen.io/sosuke/pen/Pjoqqp */

.selected img,
.search-bar img.dark-mode {
    /* White */
    filter: invert(100%) brightness(150%);
}

nav img,
.search-widgets img {
    /* Orange */
    filter: invert(47%) sepia(42%) saturate(3441%) hue-rotate(3deg) brightness(96%) contrast(103%);
}

.flex-justify {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Header */

header {
    padding: 12px 15px;
    border-bottom: 1px solid gray;
    justify-content: space-evenly;
    /* Child element widths */
    gap: 5px max(calc(100% - 50px - 160px - 248px), 25px);
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 99;
}

.home-button {
    display: flex;
    align-items: center;
}

.home-button img {
    width: 50px;
    height: auto;
}

.home-button a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    width: 160px;
    color: var(--highlight-color);
}

nav ul {
    gap: 10px;
}

nav button,
nav a {
    padding: 10px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
}

.home-button:hover,
nav li:hover {
    opacity: 0.75;
}

/* Main */

.search-row,
.building-gallery {
    margin: 15px 25px;
}

.search-row {
    gap: 12px 8px;
    justify-content: space-between;
}

@media all and (max-width: 648px) {
    .search-row {
        justify-content: space-evenly;
    }
}

.search-row img {
    position: absolute;
    left: 15px;
}

.search-row input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 15px;
}

.search-widgets {
    gap: 8px;
}

.search-widgets button,
.search-widgets input {
    width: 140px;
    height: 42px;
}

.search-widgets button {
    position: relative;
    border: 2px solid var(--highlight-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--highlight-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    position: relative;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    max-width: 50%;
}

@media all and (max-width: 900px) {
    .search-bar {
        order: 1;
        min-width: 100%;
    }
    .search-widgets {
        order: 2;
    }
}

.search-bar input {
    width: 100%;
    height: 42px;
    padding-left: 45px;
    font-size: 16px;
}

.search-bar input:hover {
    border-color: black;
}

.search-bar img {
    filter: invert(50%);
}

.building-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.building-gallery * {
    border-radius: 10px;
}

.building-gallery li {
    aspect-ratio: 0.85;
    position: relative;
}

.building-gallery div {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.building-label {
    left: 12px;
    bottom: 12px;

    padding: 18px;
    width: calc(100% - 24px);
    background-color: var(--highlight-color);
    color: white;
    font-size: 15px;
}

.rooms-counter {
    right: 12px;
    top: 12px;

    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 12px;
}

.building-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 605px) {
    .building-gallery li {
        aspect-ratio: 5;
    }

    .building-label {
        background-color: transparent;
        left: 0;
        bottom: 0;
        color: whitesmoke;
    }
}
