/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
img {
    display: block;
}

img {
    width: 20px;
    height: 20px;
}

ul {
    list-style: none;
}

button {
    background-color: white;
    border: none;
}

/* General */

body {
    --highlight-color: rgb(239, 108, 0);
    --background-color: white;
}

.selected {
    background-color: var(--highlight-color);
}

/* Source: https://codepen.io/sosuke/pen/Pjoqqp */

.selected img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(17deg) brightness(110%) contrast(101%);
}

nav img {
    filter: invert(47%) sepia(42%) saturate(3441%) hue-rotate(3deg) brightness(96%) contrast(103%);
}

.flex-justify {
    display: flex;
    justify-content: space-between;
}

.flex-split {
    display: flex;
}

.flex-split > * {
    flex: 1 0 0;
}

.home-button:hover,
nav li:hover {
    opacity: 0.75;
}

/* Header */

header {
    padding: 0 15px;
    border-bottom: 1px solid lightgray;
}

.home-button {
    display: flex;
    align-items: center;
}

.home-button img {
    width: 50px;
    height: 50px;
}

.home-button span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: var(--highlight-color);
}

nav ul {
    gap: 10px;
    margin: 10px 0;
}

nav button,
nav a {
    padding: 10px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
}

/* Main */

main {
    --default-margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.search-row,
.building-gallery {
    margin: var(--default-margin) calc(3/2 * var(--default-margin));
}
